<nav class="bg-black h-[5vh]">
  <div class="flex justify-end items-center mx-auto max-w-screen-xl px-4 h-full">
    <app-language-menu class="w-full"></app-language-menu>
  </div>
</nav>

<div class="hidden sm:flex">
  <div class="flex flex-col md:flex-row md:justify-center md:space-x-8 md:py-2 bg-[#D6E2E9] w-full">
    <div class="hidden first:flex md:flex flex-col grow md:grow-0 md:border-r md:last:border-none md:border-gray-950/30 md:pr-8 last:pr-0">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <svg class="w-5 h-5 shrink-0 mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3076 7.38739H18.923C19.7391 7.38739 20.5217 7.71157 21.0988 8.2886C21.6758 8.86564 22 9.64827 22 10.4643V16.6182H19.6923" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div class="text-xs md:text-md">
            <p>{{ 'navbar.fast_production_delivery' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden first:flex md:flex flex-col grow md:grow-0 md:border-r md:last:border-none md:border-gray-950/30 md:pr-8 last:pr-0">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <svg class="w-5 h-5 shrink-0 mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.03125 5.8917C6.87353 4.41518 10.4903 3.05388 13.8646 2.22356C14.8516 1.98067 15.8717 2.34597 16.3851 3.22324" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <div class="text-xs md:text-md">
            <p>{{ 'navbar.secure_payment' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="bg-[#fcf8f4] border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/images/logo-transparent.png" class="h-20" alt="The Perfect Gift" />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a routerLink="/cart" type="button" class="inline-flex items-center rounded-lg justify-center p-2 font-medium leading-none text-base transition-transform duration-300 ease-in-out hover:scale-105">
        <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
        </svg>
        {{ 'navbar.cart' | translate }}
      </a>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 text-[#554c44] gap-2">
        <li><a routerLink="/" class="flex text-base font-medium hover:text-[#afaaa]">{{ 'navbar.home' | translate }}</a></li>
        <li><a routerLink="/about" class="flex text-base font-medium hover:text-[#afaaa]">{{ 'navbar.about' | translate }}</a></li>
        <li><a routerLink="/products-list" class="flex text-base font-medium hover:text-[#afaaa]">{{ 'navbar.gifts' | translate }}</a></li>
      </ul>
    </div>
  </div>
</nav>
