<section class="pb-10 relative">
    <!-- Full-width image with gradient overlay -->
    <div class="relative w-screen h-[40vh] md:h-[55vh] overflow-hidden">
      <img
        src="assets/images/magical-moments.jpeg"
        alt="Idée de cadeaux"
        class="w-full h-full object-cover object-center"
      />
      <!-- Gradient overlay -->
      <div class="absolute inset-0 bg-gradient-to-r from-white via-transparent to-white pointer-events-none"></div>
    </div>
  
    <!-- Text content -->
    <div class="mt-5 mx-auto max-w-screen-xl text-center px-4 md:px-0 relative z-10">
      <h1 class="text-3xl md:text-4xl text-primary mb-4">Idée de cadeaux</h1>
      <p class="text-base text-secondary">
        Offrez bien plus qu'un cadeau, créez une émotion. Explorez notre collection de cadeaux personnalisés pour chaque occasion et chaque personne qui compte. Chaque détail est pensé pour transformer vos souvenirs en moments inoubliables, parce que les plus beaux cadeaux sont ceux qui racontent une histoire.
      </p>
    </div>
  </section>

  <h2>Product List</h2>

  <div *ngIf="products$ | async as products; else loading">
    <ul>
      <li *ngFor="let product of products">
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price | currency }}</p>
        <p>{{ product.description }}</p>
        <p>ID: {{ product.id }}</p>
      </li>
    </ul>
  </div>
  

<ng-template #loading>
  <p>Loading products...</p>
</ng-template>

  